# Django settings
DJANGO_SECRET_KEY=your_key
ALLOWED_HOSTS=your_host_ip_or_name

# Postgres settings
POSTGRES_DB=openbadge
POSTGRES_USER=openbadge
POSTGRES_PASSWORD=your_postgres_password

# Badge server settings:
# this APPKEY should match APPKEY in your hub `.env` configuration file(s)
APPKEY=your_app_key
GOD_KEY=dummy
